<section class="main-container">
    <div class="games-container">
        <app-card 
        imgUrl="game.png"
        msg="Play It Now"
        description="| Full Game | PS4"
        [price]="219.99"></app-card>
        <app-card 
        imgUrl="game.png"
        msg="Play It Now"
        description="| Full Game | PS4"
        [price]="129.99"></app-card>
        <app-card 
        imgUrl="game.png"
        msg="Play It Now"
        description="| Full Game | PS4"
        [price]="159.99"></app-card>
    </div>
</section>